.job {
  border: 1px solid #dcd8d8;
  padding: 15px;
  background: #fff;
  height: 100%;

  .job-logo {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }

  .job-meta {
    color: #848484;
    font-size: 11px;

    .job-posted {
      margin-right: 10px;
    }
  }

  .job-title {
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;

    a {
      color: #353535;
    }
  }

  .action-button {
  }
}
