<div class="job" *ngIf="job">
  <div class="data" (click)="goToDetail(job)">
    <img [src]="job.logo" class="job-logo" />
    <div class="job-meta">
      <span class="job-posted">{{ job.date | date: "dd-MMM-yyyy" }}</span>
      <span>{{
        job.type === JobType.FullTime ? "Full Time" : "Part Time"
      }}</span>
    </div>
    <div class="job-title">
      <a>{{ job.title }}</a>
    </div>
    <a>{{ job.company }}</a>
  </div>

  <div class="action">
    <button class="btn btn-primary btn-edit" (click)="editJob(job)">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button class="btn btn-danger btn-delete mt-2" (click)="deleteJob(job)">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
