<!-- TODO: Delete this reminder -->
<!-- You can modify, delete, add files as long as the feature works -->
<ul class="delete-me">
  <li>
    You can modify, delete, add files as long as you follow the intended
    features.
  </li>
  <li>Feel free to add any library to make the development faster.</li>
  <li>
    If you are following a coding convention or best practices, stick to it
    until the end.
  </li>
  <li>Eslint, together with Prettier, is added for linting of codes.</li>
  <li>Prettier is added as the default formatter.</li>
</ul>
<!-- End of Reminder -->
<router-outlet></router-outlet>
