/* You can add global styles to this file, and also import other style files */
@import "~@taiga-ui/core/styles/taiga-ui-local";
/* RESET */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  &:hover {
    text-decoration: none;
  }
}
label {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f6f8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* GLOBAL */
a.brand {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
