/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* RESET */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  &:hover {
    text-decoration: none;
  }
}

body {
  background: #f5f6f8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* GLOBAL */
a.brand {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
