// .job-wrapper {
// border: 1px solid #DCD8D8;
// background: #fff;
// margin: 10px 0;
// padding: 15px;
// height: 100%;
// }

.job-listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
