<div class="container">
  <header class="d-flex justify-content-between align-items-center my-2">
    <a href="#" class="brand">remotejobs</a>
    <button type="button" class="btn btn-primary" routerLink="/jobs/new">
      <fa-icon [icon]="add"></fa-icon>
      New Job
    </button>
  </header>

  <div class="row" [formGroup]="formData">
    <div class="col-8">
      <tui-input formControlName="title" class=""> Search job </tui-input>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <tui-filter
        formControlName="type"
        size="l"
        [content]="content"
        [items]="jobType"
      ></tui-filter>
      <ng-template #content let-item>
        {{ item.label }}
      </ng-template>
    </div>
    <!-- <div class="col-12 mt-2">
      <tui-filter size="s" [items]="items"></tui-filter>
    </div> -->
  </div>

  <div class="job-listings my-2">
    <ng-container *ngIf="jobs$ | async as jobs">
      <ng-container *ngFor="let job of jobs; let i = index">
        <app-job [job]="job"></app-job>
      </ng-container>
    </ng-container>
  </div>
</div>